.home-image {
    width: 80%;
}

.image-container {
    display: flex;
    justify-content: center;
}

.text-container {
    text-align: center;
    align-self: center;
}

.greeting {
    color: white;
}

.name {
    color: rgb(104, 176, 220);
}

.description {
    font-size: 1.5rem;
    color: white;
}

.center{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    min-height: 90vh;
    overflow: auto;
    flex-direction: row;
}